body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;  
}
#main{
    height: 50%;
    width: 90%;
    display: flex;
}
#container{
    flex:1;
}
#image{
    flex:1;
}
h1{
    color: red;
    font-size: xx-large;
    margin-top: 20%;
    margin-left: 10%;
}
h3{
    color: red;
    font-size: x-large;
}